* {
    margin: 0px;
    padding: 0px;
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Header style start here  */

.header-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background: rgba(229, 84, 115, 0.10);
}

.header-info {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
    justify-content: center;
}

.header-info>h1 {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
}

.header-info>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 20px;
}

.header-info>button {
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
    background: #E55473;
    border: 0px;
}

.header-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
}

.header-img>img {
    height: 594px;
    width: 500px;
    padding-top: 40px;
}


/* about section start here  */

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: #efeff7;
    padding-top: 50px;
}

.about-text {
    width: 40%;
}

.about-text>h4 {
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 10px;
}

.about-text>h1 {
    color: #111010;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;
}

.about-text>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;

}

.about-flower {
    width: 10%;
    text-align: center;
}

.about-flower>img {
    width: 210px;
    height: 250px;
}

.about-text>button {
    color: #FFF;
    background-color: #E55473;
    padding: 10px;
    width: 110px;
    border: 0px;
    margin-top: 15px;
    border-radius: 3px;
    font-size: 16px;
}


/* feature style start here  */
.feature-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 50px;
}


.feature-title {
    margin-top: 50px;
}

.feature-title>h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-title>p {
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.feature-flowers {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.flower-1 {
    padding: 25px 25px 0px 25px;
    margin: 0px 30px;
    height: 350px;
    width: 270px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-2 {
    padding: 25px 25px 0px 25px;
    margin: 0px 30px;
    height: 350px;
    width: 270px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-3 {
    padding: 25px 25px 0px 25px;
    margin: 0px 30px;
    height: 350px;
    width: 270px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower-1>img {
    width: 280px;
    height: 350px;

}

.flower-2>img {
    width: 280px;
    height: 350px;
}

.flower-3>img {
    width: 280px;
    height: 350px;
}

.flower-title {
    text-align: center;
    margin-top: 25px;
    text-decoration: underline;
}


/* some-info-section start here  */

.service-info-section {
    padding-top: 50px;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.time-info {
    border-radius: 3px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    width: 80%;
    height: 30vh;
    margin: 0px auto;
}

.service {
    text-align: center;
    margin: auto;
    width: 150px;
}

.service>p {
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.service>img {
    width: 50px;
    height: 50px;
}

/* offer info start here  */

.offer-info {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    width: 80%;
    margin: 100px auto;
    align-items: center;
}

.offer-img>img {
    width: 180px;
    height: 250px;
}

.offer-text {
    text-align: center;
    padding: 0px 70px
}

.offer-text>h1 {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.offer-text>h1>span {
    color: #E55473;
}

.offer-text>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.offer-text>button {
    color: #FFF;
    width: 110px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border-radius: 3px;
    border: 0px;
    background: #E55473;
}


/* social container style  start here */

.social-container {
    padding-top: 50px;
    display: flex;
    background: #f9f5f5;
    flex-direction: column;
    height: 100vh;
}

.social-title>h1 {
    padding-top: 50px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.social-title>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.social-img {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.social-img>img {
    width: 250px;
    height: 280px;
    padding: 0px 20px;
}

/* footer section style start here  */

.footer-container {
    padding-top: 50px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.input-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.input-section>h1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 5px;
}

.input-section>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 40px;
}

.input-area>input {
    display: inline-block;
    width: 30vw;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
}

.input-area>input[type="submit"] {
    width: 110px;
    padding: 10px;
    color: #FFF;
    border-radius: 3px;
    background: #E55473;
    margin-left: 10px;
}


/* footer style start here  */

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #111010;
    height: 40%;
    margin-top: 63px;
    justify-content: center;
    align-items: center;
}

.footer>h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.footer>h1>span {
    color: #E55473;
}

.footer>p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.footer>small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
}